/*  First Aid styly */

.main__desc {
  position: relative;
  z-index: 1;
}

.main__desc p {
  padding: 0 60px;
}

.firstAid__list {
  padding: 0 20px;
}

.firstAid__tips h3 {
  padding: 20px 60px;
  color: rgb(237, 174, 73);
}
.main__desc .cover__photo--firstAid {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: opacity(25%);
  background: url(../../assets/img/healthCareImg/firstAidNeup.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 500px;
}

.firstAid__list ul li span {
  font-weight: bold;
}

@media screen and (min-width: 1300px) {
  .main__desc .cover__photo--firstAid {
    height: 560px;
  }
}
