/* Highschool styly */

.highschool__pic {
  width: 100%;
  height: 800px;
  opacity: 0.9;
}

.highschool p {
  padding: 0 60px;
}

.highschool h3 {
  padding: 0 60px;
}

.highschool h3 span {
  color: rgb(237, 174, 73);
  font-weight: bold;
}

.highschool p span {
  color: rgb(237, 174, 73);
  font-weight: bold;
}

.highschoolList p span {
  color: rgb(24, 78, 119);
}
.sipka img {
  width: 25px;
}

.highshoolList ul li {
  padding-right: 2rem;
}
.highschool ul li img {
  margin-right: 1rem;
  margin-left: 1rem;
}
