/* Styly pro výlety */

.trip {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  cursor: pointer;
  margin: 2rem auto;
  width: 100%;
}

.trip:hover {
  background-color: #f2e7da;
}

.trip__foto {
  flex: 0 0 50%;
  margin-right: 20px;
}

.trip__foto img {
  width: 100%;
  padding: 0 10px;
  border-radius: 4px;
  transition: transform 1s;
}
.trip__foto:hover img {
  transform: scale(1.12);
}

.trip__detail {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
  line-height: 1;
}

.trip__podtitul {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #888;
  padding-right: 50px;
}

.trip h3 {
  font-size: 24px;
  margin-top: 0;
}
.trip__popis {
  margin-top: 10px;
}

.trip__stroller p span {
  color: rgb(237, 174, 73);
  font-weight: bold;
}

.trip__distance p span {
  color: rgb(237, 174, 73);
  font-weight: bold;
}
