/* Emergency styly */

.emergency__wrap {
  width: 960px;
}
.emergency__pic {
  width: 100%;
  height: 800px;
  opacity: 0.8;
}

.main__desc--emergency ul li span {
  font-weight: bold;
  font-size: 22px;
}

.main__desc--emergency ul li {
  font-size: 22px;
  list-style: none;
}
