/* Input styly */

.search {
  text-align: center;
}

input {
  border: 1px solid rgb(0, 121, 140);
  font-size: 1.4rem;
  padding: 1.5rem 2.2rem;
  width: 100%;
  max-width: 750px;
  text-align: center;
}
