/* style kurim */
  .kurim {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.90);
    cursor: pointer;
    border-radius: 4px;
  }
  
  .kurim:hover {
    background-color: #f2e7da;
  }
  
  .kurim + .kurim {
    margin-top: 10px;
  }
  
  .kurim__foto {
    flex: 0 0 50%;
    margin-right: 20px;
    margin-top: 10px;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
  }
  
  .kurim__foto img {
    display: flex;
    display: flex;
      flex-wrap: wrap;
      flex: 1 1 calc(100% / 3);
    width: 100%;
    border-radius: 4px;
    
  }
  

  .kurim__detail {
    flex: 1;
    font-size: 15px;
  }
  
  .kurim__nazev {
    font-size: 25px;
    padding-left: 30px;
    font-family: 'Yeseva One', cursive;
    color: rgb(0, 121, 140);
  }
  
  .kurim__podtitul {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: rgb(138, 136, 31);
    padding-left: 30px;
  }
  
  .kurim__popis {
    margin-top: 10px;
    }
  
  .singlefoto{
  display: flex;
      flex-wrap: wrap;
      flex: 1 1 calc(100% / 2);
      padding: 15px 15px 15px 15px;
  }
  
  
