/* Elementary school style */

.main__desc {
  position: relative;
  z-index: 1;
}

.main__desc .cover__photo--bike {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: opacity(25%);
  background: url(../../assets/img/educationImg/primaryschool.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 440px;
}

@media screen and (min-width: 1300px) {
  .main__desc .cover__photo--bike {
    height: 442px;
  }
}
