/* Elementary school style */

.elementary__pic {
  width: 100%;
  height: 700px;
  /* opacity: 0.9; */
}

.elementarySchool p {
  padding: 0 60px;
}

.elementarySchool h3 {
  padding: 0 60px;
}

.elementarySchool h3 span {
  color: rgb(237, 174, 73);
  font-weight: bold;
}

.elementarySchool p span {
  color: rgb(237, 174, 73);
  font-weight: bold;
}

.kinderGartenPublic p span {
  color: rgb(24, 78, 119);
}
.sipka img {
  width: 25px;
}

.kindergartenList ul li img {
  margin-right: 1rem;
  margin-left: 1rem;
}
