@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Yeseva+One&display=swap');

html {
  box-sizing: border-box;
}
*,
*:before,
*.after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f3f9fa;
  color: rgb(24, 78, 119);
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

